<div class="row">
	<div class="col-md-8">
		<h3>Add Referral Request</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<img src="images/applog.png" class="img-circle" style="height: 45px;"> Referral Form
			</div>
			<div class="panel-body">
				<div class="row">
				<div class="col-md-2"></div>
					<div class="col-md-8">
                        <form method="post" action="/process-request">
							<div class="row">
								<div class="col-md-6">
									<label for="" class="control-label">Patient:</label>
									<select name="patient_id" class="form-control" required>
                                        <?php
                                        if (!empty($patients)) {
                                            foreach($patients as $patient) { ?>
                                                <option value="<?= $patient->patient_id;?>"><?= $patient->first_name . ' ' . $patient->last_name;?></option>
                                        <?php }
                                        }
                                        ?>
									</select>
								</div>
								<div class="col-md-6">
									<label for="" class="control-label">Doctor:</label>
									<select name="doctor_id" class="form-control" required>
                                        <?php
                                        if (!empty($doctors)) {
                                            foreach($doctors as $doctor) { ?>
                                                <option value="<?= $doctor->doctor_id;?>"><?= $doctor->first_name . ' ' . $doctor->last_name;?></option>
                                            <?php }
                                        }
                                        ?>
									</select>
								</div>
								<div class="col-md-6">
								<br>
									<label for="" class="control-label">Date:</label>
									<input type="date" name="request_date" class="form-control" required>
								</div>
								<div class="col-md-6">
								<br>
									<label for="" class="control-label">Time:</label>
									<input type="time" name="request_time" class="form-control" required>
								</div>
								<div class="col-md-12">
								<br>
									<label for="" class="control-label">Health Concern:</label>
									<textarea placeholder="Health Concern. . ." name="health_concern" class="form-control" style="height: 150px;" required></textarea>
								</div>
							</div>

							<br>
							<br><br>
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-8">
									<input type="submit" style="float:right;" value="Add Referral" type="submit" id="btn_sup" name="btn_sup" class="btn btn-success btn-lg">
								</div>
							</div>
                        </form>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</div>
</div>