<div class="row">
	<div class="col-md-12">
		<h3>View All Requests</h3>
	</div>
</div>
<hr class="colorgraph">
<div class="row">
	<div class="col-md-12">
		<a href="/add-request" class="btn btn-success btn-lg">
            Add Request</a>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<table id="tbsample" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">Request ID</th>
                    <th style="text-align: center;">Patient</th>
                    <th style="text-align: center;">Doctor</th>
                    <th style="text-align: center;">Health Concern</th>
                    <th style="text-align: center;">Status</th>
                    <th style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody>
			    <?php
			if (!empty($requests)) {
				foreach($requests as $request) { ?>
					<tr>
						<td style="text-align: center;"><?= $request->request_id; ?></td>
						<td style="text-align: center;"><?= $request->patient; ?></td>
						<td style="text-align: center;"><?= $request->doctor; ?></td>
						<td style="text-align: center;"><?= $request->health_concern; ?></td>
						<td style="text-align: center;"><?= $request->status; ?></td>
						<td style="text-align: center;">
                            <a href="/view-patient?patientID=<?=$patient->patient_id?>" class="btn btn-warning"><i class="fa fa-rocket"></i></a>
							<a href="/delete-patient?patientID=<?=$patient->patient_id?>" class="btn btn-danger"></a>
						</td>
					</tr>
			<?php } 
			} else {
				echo 'No records found..';
			}
			?>
            </tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#tbsample').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
    });
</script>