<br><br><br><br><br>
<h2>View Request</h2>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<a href="/add-event"><button class="btn btn-success btn-lg" style="float:right;" value="Add Request">Add Request</button></a>
	</div>
	<div class="col-md-2"></div>
</div>
<br>