<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <div class="jumbotron">
    
    <fieldset>
      <h4>Sign In as <?= $userType->user_type_name;?></h4>
      <hr class="colorgraph">
        <div class="row">
		      <img src="<?= $userType->image;?>" class="img-circle" style="height: 150px; margin-left: 150px;">
		    </div>
      <br/>
        <form id="loginForm" method="post" action="/validate-login">
            <input type="hidden" name="user_type_code" value="<?= $userType->user_type_code;?>">
                <div class="form-group">
                  <input type="text" name="username" id="pat_email" class="form-control input-lg" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="pat_pass" class="form-control input-lg" placeholder="Password">
                </div>
                <div class="row">
                  <div class="col-sm-12">
                      <div id="error"><?=isset($error) ? $error : ''; ?></div>
                  </div>
              </div>
              <span>
                  <a href="" class="btn btn-link pull-right">Forgot Password?</a>
              </span>
              <br/>
              <hr class="colorgraph">
              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                  <input type="submit" id="pat_login" class="btn btn-lg btn-success btn-block" value="Sign In">
              </div>
          </form>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="/register" class="btn btn-lg btn-primary btn-block">Register</a>
        </div>
    </div>
  </div>
</div>
