<?php $loginUrl = '/login?user_type='; ?>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="panel panel-default">
		 	<div class="panel-heading"><img src="images/key.png" class="img-circle" style="height: 50px;">	<b>Login As</b></div>
			 	<div class="panel-body">
				 	<?php foreach ($userTypes as $userType) { ?>
		    			<a href="<?=$loginUrl.strtolower($userType->user_type_code);?>">
		    				<div class="alert alert-success" role="alert">
		    					<p style="margin-left: 120px;"><img src="<?=$userType->image;?>" class="img-circle" style="height: 30px;">   
		    					<?=$userType->user_type_name;?></p>
		    				</div>
		    			</a>
					<?php } ?>
			 	</div>
		 	</div>
		</div>
	<div class="col-md-3"></div>	
</div>