/*---------------Carousel--------------*/
#myCarousel .item { height: 400px}

#slide1{
	background: url('../pictures/carousel1.png') top center no-repeat;
}
#slide2{
	background: url('../pictures/carousel2.jpg') top center no-repeat;
}
#slide3{
	background: url('../pictures/carousel3.png') top center no-repeat;
}