<div class="row">
	
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
			<img src="images/binary.jpeg" style="height: 35px;">  My Health Record
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th style="text-align: center;">Date</th>
						<th style="text-align: center;">Complaints</th>
						<th style="text-align: center;">Diagnosis</th>
						<th style="text-align: center;">Illness</th>
						<th style="text-align: center;">Results</th>
						<th style="text-align: center;">Action</th>
					</tr>

					<?php 
					if (!empty($patients)) {
						foreach($patients as $patient) { ?>
							<tr>
								<td style="text-align: center;"><?= $patient->patient_id; ?></td>
								<td style="text-align: center;"><?= $patient->first_name . ' ' . $patient->last_name; ?></td>
								<td style="text-align: center;"><?= $patient->phone_no; ?></td>
								<td style="text-align: center;"><?= $patient->birthdate; ?></td>
								<td style="text-align: center;"><?= $patient->brgy; ?></td>
								<td style="text-align: center;">
									<a href="/view-patient?patientID=<?=$patient->patient_id?>" class="btn btn-warning">View</a>
									<a href="/delete-patient?patientID=<?=$patient->patient_id?>" class="btn btn-danger">Delete</a>
								</td>
							</tr>
					<?php } 
					} else {
						echo 'No records found..';
					}
					?>
				</table>
			</div>
		</div>
	</div>
</div>