<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading"><h4>Patient Dashboard</h4></div>
		  	<div class="panel-body">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>Request a Checkup</b></center></div>
		    				<div class="panel-body">
					    		<a href="/request-checkup" style="text-decoration: none;">
					    		<img src="images/appntmnt.png" style="width: 320px;height: 170px">
					    		</a>
					    	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-4">
			    		<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>My Referrals</b></center></div>
		    				<div class="panel-body">
					    		<a href="/view-referrals" style="text-decoration: none;">
					    		<img src="images/referral.png" style="width: 320px;height: 170px">
					    		</a>
					    	</div>
			    		</div>
			    	</div>
		    		<div class="col-md-4">
			    		<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>My Health Record</b></center></div>
		    				<div class="panel-body">
					    		<a href="/view-my-health-record" style="text-decoration: none;">
					    		<img src="images/myrecord.png" style="width: 320px;height: 170px">
					    		</a>
					    	</div>
			    		</div>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-md-2"></div>
			    	<div class="col-md-4">
			    		<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>BHC Health Events</b></center></div>
		    				<div class="panel-body">
					    		<a href="#" style="text-decoration: none;">
					    		<img src="images/bhce.png" style="width: 320px;height: 170px">
					    		</a>
					    	</div>
			    		</div>
			    	</div>
			    	<div class="col-md-4">
			    		<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>Hospital Health Events</b></center></div>
		    				<div class="panel-body">
					    		<a href="#" style="text-decoration: none;">
					    		<img src="images/hospital.jpg" style="width: 320px;height: 170px">
					    		</a>
					    	</div>
			    		</div>
			    	</div>
			    	<div class="col-md-2"></div>
			    </div>
			  </div>
		    </div>
		 </div>
	</div>