<div class="row">
		<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading"><img src="images/patient.png" class="img-circle" style="height: 45px;">
				Patient Sign Up Form</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
						<div class="col-md-4">
							<center><label style="font-size: 20px;">Personal Information</label></center>
						</div>
						<div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
					</div>
					<br/>
					<form method="post" action="/process-register">
						<div class="row">
						<div class="col-md-6">
						<label for="first_name" class="control-label">First Name:</label>
							<input type="text" id="first_name" name="first_name" class="form-control" placeholder="First" required>
						</div>
						<div class="col-md-6">
							<label for="last_name" class="control-label">Last Name:</label>
							<input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last" required>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-6">
						<label for="middle_name" class="control-label">Middle Name:</label>
							<input type="text" id="middle_name" name="middle_name" class="form-control" placeholder="First" required>
						</div>
						<div class="col-md-6">
							<label for="email" class="control-label">Email Address:</label>
							<input type="text" id="email" name="email" class="form-control" placeholder="Last" required>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-6">
						<label for="usern">Birth Date</label>
							<input type="date" id="birthdate" name="birthdate" class="form-control" placeholder="Birth Date" required>
						</div>
						<div class="col-md-6">
						<label for="eml">Birth Place</label>
							<input type="text" id="birthplace" name="birthplace" class="form-control" placeholder="Birth Place" required>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-6">
						<label for="gender">Gender</label>								
							<select id="gender" name="gender" class="form-control"  style="width: 250px;height: 35px;" required>
								<option> -- Select -- </option> 
								<option> Male </option> 
								<option> Female </option> 
							</select>
						</div>
						<div class="col-md-6">
							<label for="mbl">Phone Number:</label>
							<input type="text" id="phone_no" name="phone_no" class="form-control" placeholder="(+63)" required>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-6">
							<label for="address">Exact Address</label>
							<input type="text" id="contact_person" name="address" class="form-control" placeholder="Exact Address" required>
						</div>
						<div class="col-md-6">
							<label for="brgy">Barangay:</label>
							<select id="brgy" name="brgy" class="form-control" style="width: 250px;height: 35px;" required>
								<option> -- Select -- </option>
								<option> Hulo </option> 
								<option> Addition Hills </option> 
								<option> Vergara </option> 
								<option> New Zaniga </option>
								<option> Old Zaniga </option>
								<option> San Jose </option>
							</select>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-6">
							<label for="address">Name of Contact Person</label>
							<input type="text" id="contact_person" name="contact_person" class="form-control" placeholder="Name of Contact Person" required>
						</div>
						<div class="col-md-6">
							<label for="address">Contact Number</label>
							<input type="text" id="contact_person_no" name="contact_person_no" class="form-control" placeholder="Contact Number" required>
						</div>
					</div>
					<br/><br/><br/>
					<div class="row">
						<div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
						<div class="col-md-4">
							<center><label style="font-size: 20px;">Health Information</label></center>
						</div>
						<div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-6">
							<label for="brgy">Blood Type:</label>
							<select id="blood_type" name="blood_type" class="form-control" style="width: 250px;height: 35px;">
								<option> -- Select -- </option>
								<option> A </option> 
								<option> AB </option> 
								<option> O </option> 
								<option> O+ </option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="address">Blood Pressure</label>
							<input type="text" id="bp" name="bp" class="form-control" placeholder="Blood Pressure" required>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-6">
							<label for="address">Height</label>
							<input type="text" id="height" name="height" class="form-control" placeholder="Height" required>
						</div>
						<div class="col-md-6">
							<label for="address">Weight</label>
							<input type="text" id="weight" name="weight" class="form-control" placeholder="Weight" required>
						</div>
					</div>
					<div class="row">	
						<div class="col-md-12">
							<p><br/></p>
							<input style="float:right;" value="Clear Form" type="reset" class="btn btn-warning btn-lg">
							<input style="float:right;" value="Add Patient" type="submit" id="btn_sup" name="btn_sup" class="btn btn-success btn-lg">
						</div>
					</div>
				</div>
				</form>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>