<br/><br/><br/><br/><br/>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel panel-heading">Request Checkup</div>
			<div class="panel panel-body">
				<form>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="form-group">
								<textarea placeholder="Health Concern" class="form-control input-lg"></textarea>
							</div>
							<div class="row">
								<div class="col-md-4"></div>
                    			<div class="col-md-4">
                   	 				<input type="submit" id="pat_login" class="btn btn-lg btn-success" value="Enter Request">
                				</div>
                				<div class="col-md-4"></div>
							</div>
						<div class="col-md-2"></div>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
