<div class="row">
    <div class="col-md-12">
        <h3 >View All Patients</h3>
    </div>
</div>
<hr class="colorgraph">
<div class="row">
    <div class="col-md-12">
        <a href="/add-patient" class="btn btn-success btn-lg" >
            Add Patients
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <table id="tbsample" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">Patient ID</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Phone</th>
                    <th style="text-align: center;">Birthdate</th>
                    <th style="text-align: center;">Barangay</th>
                    <th style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody>
            <?php
            if (!empty($patients)) {
                foreach($patients as $patient) { $href = "class='clickable-row' data-href='/view-patient?patientID=" . $patient->patient_id . "'"?>
                    <tr>
                        <td style="text-align: center;" <?=$href;?>><?= $patient->patient_id; ?></td>
                        <td style="text-align: center;" <?=$href;?>><?= $patient->first_name . ' ' . $patient->last_name; ?></td>
                        <td style="text-align: center;" <?=$href;?>><?= $patient->phone_no; ?></td>
                        <td style="text-align: center;" <?=$href;?>><?= $patient->birthdate; ?></td>
                        <td style="text-align: center;" <?=$href;?>><?= $patient->brgy; ?></td>
                        <td style="text-align: center;" class='clickable-row' data-href="/delete-patient?patientID=<?=$patient->patient_id?>">
                            <i class="fas fa-trash-alt"></i>
                        </td>
                    </tr>
                <?php }
            } else {
                echo 'No records found..';
            }
            ?>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#tbsample').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
    });

    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>