<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading"><img src="images/patient.png" class="img-circle" style="height: 45px;">
            View Patient Details</div>
            <?php
                if (!empty($patient)) {
            ?>
            <form method="post" action="/process-edit">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
                        <div class="col-md-4">
                            <center><label style="font-size: 20px;">Personal Information</label></center>
                        </div>
                        <div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
                    </div>
                    <br/>
                        <div class="row">
                            <div class="col-md-6">
                            <label for="first_name" class="control-label">First Name:</label>
                                <input type="text" name="first_name" value="<?php echo $patient->first_name;?>" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="last_name" class="control-label">Last Name:</label>
                                <input type="text" name="last_name" value="<?php echo $patient->last_name;?>" class="form-control">
                            </div>
                        </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                        <label for="middle_name" class="control-label">Middle Name:</label>
                            <input type="text" name="middle_name" value="<?php echo $patient->middle_name;?>" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="control-label">Email Address:</label>
                            <input type="text" name="email" value="<?php echo $patient->email;?>" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                        <label for="usern">Birth Date</label>
                            <input type="text" name="birthdate" value="<?php echo $patient->birthdate;?>" class="form-control">
                        </div>
                        <div class="col-md-6">
                        <label for="eml">Birth Place</label>
                            <input type="text" name="birthplace" value="<?php echo $patient->birthplace;?>" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                        <label for="gender">Gender</label>
                            <input type="text" name="gender" value="<?php echo $patient->gender;?>" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="mbl">Phone Number:</label>
                            <input type="text" name="phone_no" value="<?php echo $patient->phone_no;?>" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="address">Exact Address</label>
                            <input type="text" name="address" value="<?php echo $patient->address;?>" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="brgy">Barangay:</label>
                            <input type="text" name="brgy" value="<?php echo $patient->brgy;?>" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="address">Name of Contact Person</label>
                            <input type="text" name="contact_person" value="<?php echo $patient->contact_person;?>" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="address">Contact Number</label>
                            <input type="text" name="contact_person_no" value="<?php echo $patient->contact_person_no;?>" class="form-control">
                        </div>
                    </div>
                    <br/><br/><br/>
                    <div class="row">
                        <div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
                        <div class="col-md-4">
                            <center><label style="font-size: 20px;">Health Information</label></center>
                        </div>
                        <div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="brgy">Blood Type:</label>
                            <input type="text" name="blood_type" value="<?php echo $patient->blood_type;?>" class="form-control">
                            </div>
                        <div class="col-md-6">
                            <label for="address">Blood Pressure</label>
                            <input type="text" name="bp" value="<?php echo $patient->bp;?>" class="form-control">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="address">Height</label>
                            <input type="text" name="height" value="<?php echo $patient->height;?>" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="address">Weight</label>
                            <input type="text" name="weight" value="<?php echo $patient->weight;?>" class="form-control">
                        </div>
                    </div>
                </div>
                <input type="hidden" name="patient_id" value="<?php echo $patient->patient_id;?>">
                <div class="row">
                    <div class="col-md-12">
                        <p><br/></p>
                        <input style="float:right;" value="Update Patient" type="submit" class="btn btn-warning btn-lg">
                    </div>
                </div>
            </form>
              <?php } else { ?>
                  <h4 style="margin-left:30px">No records found.</h4>
              <?php }?>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>