<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span><b>&nbsp;<?= $user->user_type_name;?></b> | ADMIN DASHBOARD</div>
		  	<div class="panel-body">
		    	<div class="row">
		    		<div class="col-md-3">
		    			<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>Patients</b>
							<span class="badge"><?=$patientCount;?></span></center></div>
		    				<div class="panel-body">
		    					<center>
					    		<a href="/view-patients" style="text-decoration: none;">
					    		<img src="images/paticon.png" style="width: 200px;height: 170px">
					    		</a>
					    		</center>
					    	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-3">
			    		<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>Patient Referral</b>			
		    				<span class="badge"><?=$requestCount;?></span></center></div>
		    				<div class="panel-body">
		    					<center>
					    		<a href="/view-requests" style="text-decoration: none;">
					    		<img src="images/refericon.png" style="width: 200px;height: 160px">
					    		</a>
					    		</center>
					    	</div>
			    		</div>
			    	</div>
			    	<div class="col-md-3">
			    		<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>Doctors</b></center></div>
		    				<div class="panel-body">
		    					<center>
					    		<a href="/view-doctors" style="text-decoration: none;">
					    		<img src="images/dicon.png" style="width: 200px;height: 170px">
					    		</a>
					    		</center>
					    	</div>
			    		</div>
			    	</div>
			    	<div class="col-md-3">
		    			<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>Manage Events</b></center></div>
		    				<div class="panel-body">
		    					<center>
					    		<a href="/view-events" style="text-decoration: none;">
					    		<img src="images/eventicon.jpg" style="width: 200px;height: 170px">
					    		</a>
					    		</center>
					    	</div>
			    		</div>
		    		</div>
			    </div>
			  </div>
		    </div>
		 </div>
	</div>
		<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
		    <div class="panel-heading"><center><b>Appointment Today</b></center></div>
                <div class="panel-body">
					<table class="table table-striped">
                        <?php if (empty($requests)) { ?>
                        <tr>
                            <th>No Records Found</th>
                        </tr>
                        <?php } else { ?>
                            <tr>
                                <th>Request ID</th>
                                <th>Patient Name</th>
                                <th>Doctor Name</th>
                                <th>Heath Concern</th>
                                <th>Status</th>
                            </tr>
                            <?php $cnt=1;
                            foreach($requests as $request) {
                                if ($cnt <=3) {
                                ?>
                                <tr>
                                    <td><?= $request->request_id; ?></td>
                                    <td><?= $request->patientName; ?></td>
                                    <td><?= $request->doctorName; ?></td>
                                    <td><?= $request->health_concern; ?></td>
                                    <td><?= $request->status; ?></td>
                                </tr>
                                <?php $cnt++;
                            } }
                        } ?>
                    </table>
                    <?php if (count($requests) > 3) { ?>
                        <div style="float: right;"><a href="/view-requests?isToday=1">See More...</a></div>
                    <?php } ?>
				</div>
			</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		    <div class="panel-heading"><center><b>Available Doctors</b></center></div>
		    	<div class="panel-body">
                    <table class="table table-striped">
                        <?php if (empty($doctorSchedule)) {?>
                            <tr>
                                <th>No Records Found</th>
                            </tr>
                        <?php } else { ?>
                            <tr>
                                <th>Doctor Name</th>
                                <th>Day</th>
                                <th>Time</th>
                            </tr>
                            <?php $cntDoc=1;
                            foreach ($doctorSchedule as $schedule) {
                                if ($cntDoc <=3) {?>
                                <tr>
                                    <td><?= $schedule->first_name . ' ' . $schedule->last_name; ?></td>
                                    <td><?= $schedule->day; ?></td>
                                    <td><?= date("g:i a", strtotime($schedule->time)); ; ?></td>
                                </tr>
                                <?php $cntDoc++;
                            } }
                         ?>
                    </table>
                    <?php
                    if (count($doctorSchedule) > 3) { ?>
					    <div style="float: right;"><a href="/view-doctors?isToday=1">See More...</a></div>
                    <?php } } ?>
				</div>
			</div>
	</div>