<br><br><br><br><br>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<a href="/add-event"><button class="btn btn-success btn-lg" style="float:right;" value="Add Event">Add Event</button></a>
	</div>
	<div class="col-md-2"></div>
</div>
<br>
<div class="row">
	<div class="col-sm-3 col-md-2"></div>
		<div class="col-sm-6 col-md-8">
			<div id="show_bhc_event"></div>
				<div class="thumbnail" >
					<img style="height: 250px; width: 750px;" src="images/binarylogo.png">
					    <div class="caption">
						     <div class="row">
						      	<div class="col-md-6">
						        	<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-calendar"></span>	
						        	<b style="color: #000000;">Kids Dental Program</b></div>
						        </div>
						        <div class="col-md-2"></div>
						        <div class="col-md-4">
						        	<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-time"></span>
						        	<b style="color: #000000;">08/31/2016</b></div>
						        </div>
						      </div>
						      <div class="row">
						      	<div class="col-md-12">
						      		<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-blackboard"></span>
						      		<b style="color: #000000;">Details:</b>
						      		<p>Kids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental Programs
						      		Kids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental Program
						      		Kids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental Program
						      		Kids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental ProgramKids Dental Program
						      		</p>
						      	</div>
						      </div>
						   </div>
					    </div>
					  </div>
					  <div class="col-sm-3 col-md-2"></div>
					</div>
				  </div>