<br><br><br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" id="register_msg">
			<!--Alert From Signup Form-->
		</div>
			<div class="col-md-2"></div> 
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="panel panel-success">
					<div class="panel-heading"><img src="images/binary.jpeg" class="img-circle" style="height: 45px;">
					Add Event Form</div>
					<div class="panel-body">
						<form method="post" action="/add-event">
							<div class="row">
							<div class="col-md-6">
							<label for="event_name" class="control-label">Event Name:</label>
								<input type="text" id="event_name" name="event_name" class="form-control" placeholder="Event Name" required>
							</div>
							<div class="col-md-6">
								<label for="event_date" class="control-label">Event Date:</label>
								<input type="date" id="event_date" name="event_date" class="form-control" required>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-md-6">
							<label for="event_venue" class="control-label">Event Venue:</label>
								<input type="" id="event_venue" name="event_venue" class="form-control" placeholder="Event Venue" required>
							</div>
							<div class="col-md-6">
								<label for="email" class="control-label">Image:</label>
								<input type="file" id="email" name="email" class="form-control" placeholder="Last" required>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-md-12">
							<label for="event_detail">Event Details</label>
								<textarea type="text" id="event_detail" name="event_detail" class="form-control" placeholder="Event Details"></textarea>
							</div>
						</div>
						<div class="row">	
							<div class="col-md-12">
								<p><br/></p>
								<input style="float:right;" value="Clear Form" type="reset" class="btn btn-warning btn-lg">
								<input style="float:right;" value="Add Event" type="submit" id="btn_sup" name="btn_submit" class="btn btn-success btn-lg">
							</div>
						</div>
					</div>
					</form>
					<div class="panel-footer"></div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>