<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading"><span class="glyphicon glyphicon-th-large"></span>		
		  <b>&nbsp;<?= $user->user_type_name;?></b> | Doctor Dashboard</div>
		  	<div class="panel-body">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>Doctor's Appointment</b></center></div>
		    				<div class="panel-body">
					    		<a href="#" style="text-decoration: none;">
					    		<img src="images/docapp.png" style="width: 310px;height: 170px">
					    		</a>
					    	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-4">
			    		<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>Patient Requests </b></center></div>
		    				<div class="panel-body">
					    		<a href="#" style="text-decoration: none;">
					    		<img src="images/applog.png" style="width: 310px;height: 170px">
					    		</a>
					    	</div>
			    		</div>
			    	</div>
		    		<div class="col-md-4">
			    		<div class="panel panel-default">
		    				<div class="panel-heading"><center><b>Doctor's Perscriptions</b></center></div>
		    				<div class="panel-body">
					    		<a href="#" style="text-decoration: none;">
					    		<img src="images/rx.png" style="width: 310px;height: 170px">
					    		</a>
					    	</div>
			    		</div>
			    	</div>
			    </div>
			    </div>
			  </div>
		    </div>
		 </div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
			    <div class="panel-heading"><center><b>Appointment Today</b></center></div>
			    	<div class="panel-body">
						<table class="table table-striped">
  						<tr>
  							<th>Date</th>
						    <th>Firstname</th>
						    <th>Lastname</th> 
						    <th>Heath Concern</th>
						  </tr>
						  <tr>
						  	<td>12-Sep-2017</td>
						    <td>Jill</td>
						    <td>Smith</td>
						    <td>Headache</td>
						  </tr>
						  <tr>
						  	<td>12-Sep-2017</td>
						    <td>Eve</td>
						    <td>Jackson</td>
						    <td>Stomachache</td>
						  </tr>
						  <tr>
						  	<td>12-Sep-2017</td>
						    <td>Sasha</td>
						    <td>Doe</td>
						    <td>Maternity</td>
						  </tr>
						</table>
						<a href="#" style="float: right;">See More...</a>
					</div>
				</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
			    <div class="panel-heading"><center><b>Newly Perscription</b></center></div>
			    	<div class="panel-body">
						<table class="table table-striped">
  						<tr>
  							<th>Date</th>
						    <th>Firstname</th>
						    <th>Lastname</th> 
						    <th>Heath Concern</th>
						  </tr>
						  <tr>
						  	<td>12-Sep-2017</td>
						    <td>Jill</td>
						    <td>Smith</td>
						    <td>Headache</td>
						  </tr>
						  <tr>
						  	<td>12-Sep-2017</td>
						    <td>Eve</td>
						    <td>Jackson</td>
						    <td>Stomachache</td>
						  </tr>
						  <tr>
						  	<td>12-Sep-2017</td>
						    <td>Sasha</td>
						    <td>Doe</td>
						    <td>Maternity</td>
						  </tr>
						</table>
						<a href="#" style="float: right;">See More...</a>
					</div>
				</div>
		</div>
	</div>