<div class="row">
		<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading"><img src="images/bhcdoctor.png" class="img-circle" style="height: 45px;">
				Doctor Sign Up Form</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
						<div class="col-md-4">
							<center><label style="font-size: 20px;">Personal Information</label></center>
						</div>
						<div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
					</div>
					<br/>
					<form method="post" action="/add-doctor">
						<div class="row">
						<div class="col-md-6">
						<label for="first_name" class="control-label">First Name:</label>
							<input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required>
						</div>
						<div class="col-md-6">
							<label for="last_name" class="control-label">Last Name:</label>
							<input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-6">
						<label for="middle_name" class="control-label">Middle Name:</label>
							<input type="text" id="middle_name" name="middle_name" class="form-control" placeholder="Middle Name" required>
						</div>
						<div class="col-md-6">
							<label for="email" class="control-label">Email:</label>
							<input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-6">
						<label for="usern">Specialization</label>
							<input type="text" id="birthdate" name="specialization" class="form-control" placeholder="Specialization" required>
						</div>
						<div class="col-md-6">
						<label for="eml">Workplace</label>
							<select id="workplace" name="workplace" class="form-control"  style="width: 250px;height: 35px;">
								<option></option> 
								<option> Barangay Health Center </option> 
								<option> Hospital </option> 
							</select>
						</div>
					</div>
					<br />
					<div class="row">	
						<div class="col-md-12">
							<p><br/></p>
							<input style="float:right;" value="Clear Form" type="reset" class="btn btn-warning btn-lg">
							<input style="float:right;" value="Add Doctor" type="submit" name="btn_sup" class="btn btn-success btn-lg">
						</div>
					</div>
				</div>
				</form>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>