<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <img src="images/bhcdoctor.png" class="img-circle" style="height: 45px;" />
                View Doctor
            </div>
            <?php
                if (!empty($doctor)) {
            ?>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
                    <div class="col-md-4">
                        <center><label style="font-size: 20px;">Personal Information</label></center>
                    </div>
                    <div class="col-md-4"><hr class="colorgraph" style="width: 200px;"></div>
                </div>
                <br/>
                <form method="post" action="/update-doctor">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="first_name" class="control-label">First Name:</label>
                            <input type="text" value="<?php echo $doctor->first_name;?>" name="first_name" class="form-control" placeholder="First Name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="last_name" class="control-label">Last Name:</label>
                            <input type="text" value="<?php echo $doctor->last_name;?>" name="last_name" class="form-control" placeholder="Last Name" required>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="middle_name" class="control-label">Middle Name:</label>
                            <input type="text" value="<?php echo $doctor->middle_name;?>" name="middle_name" class="form-control" placeholder="Middle Name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="control-label">Email:</label>
                            <input type="text" value="<?php echo $doctor->email;?>" name="email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="usern">Specialization</label>
                            <input type="text" value="<?php echo $doctor->specialization;?>" name="specialization" class="form-control" placeholder="Specialization" required>
                        </div>
                        <div class="col-md-6">
                            <label for="usern">Workplace</label>
                            <select id="workplace" name="workplace" class="form-control"  style="width: 250px;height: 35px;">
                                <option <?= $doctor->workplace == "Barangay Health Center" ? "selected=selected" : '';?>> Barangay Health Center </option>
                                <option <?= $doctor->workplace == "Hospital" ? "selected=selected" : '';?>> Hospital </option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="doctor_id" value="<?php echo $doctor->doctor_id;?>">
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <p><br/></p>
                            <input style="float:right;" value="Update Doctor" type="submit" class="btn btn-warning btn-lg">
                        </div>
                    </div>
                </form>
            </div>
            <?php } else { ?>
                <h4 style="margin-left:30px">No records found.</h4>
            <?php }?>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>