<div class="row">
	<div class="col-md-12">
		<h3>View Doctors</h3>
	</div>
    <div class="col-md-6"></div>
</div>
<hr class="colorgraph">
<div class="row">
	<div class="col-md-12">
		<a href="/view-register-doctor" class="btn btn-success btn-lg">Add Doctors</a>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<table id="tbsample" class="table table-bordered table-striped">
            <thead>
                <tr>
                <th style="text-align: center;">Doctor ID</th>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Email</th>
                <th style="text-align: center;">Specialization</th>
                <th style="text-align: center;">Workplace</th>
                <th style="text-align: center;">Action</th>
            </tr>
            </thead>
            <tbody>
			<?php 
			if (!empty($doctors)) {
				foreach($doctors as $doctor) { ?>
					<tr>
						<td style="text-align: center;"><?= $doctor->doctor_id; ?></td>
						<td style="text-align: center;"><?= $doctor->first_name . ' ' . $doctor->last_name; ?></td>
						<td style="text-align: center;"><?= $doctor->email; ?></td>
						<td style="text-align: center;"><?= $doctor->specialization; ?></td>
						<td style="text-align: center;"><?= $doctor->workplace; ?></td>
						<td style="text-align: center;">
							<a href="/view-doctor?doctorID=<?=$doctor->doctor_id?>" class="btn btn-warning">View</a>
							<a href="/delete-doctor?doctorID=<?=$doctor->doctor_id?>" class="btn btn-danger">Delete</a>
						</td>
					</tr>
			<?php } 
			} else {
				echo 'No records found..';
			}
			?>
            </tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#tbsample').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
    });
</script>