<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Binary Health</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
        <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="images/binarylogo.png" style="height: 40px;"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav pull-right">
                            <?php if (empty($username)) {?>
                            <li class=""><a href="#"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
                            <?php }?>
                            <?php if (!empty($username)) {?>
                                <li class=""><a> Welcome <?=strtoupper($username) . '!';?></a></li>
                                <li class=""><a href="/"><span class="glyphicon glyphicon-info-sign"></span> Dashboard</a></li>
                                <li class=""><a href="/logout"><span class="glyphicon glyphicon-info-sign"></span> Logout</a></li>
                                <li class=""><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Account Settings</a></li>
                            <?php }?>
                        </ul>
                    </div>
                </div>
                <br/>
            </nav>
        </div>
    </div>
        <br/><br/><br/><br/><br/>
        <div class="container">
            <?php include $viewTemplate;?>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/login.js"></script>
    </body>
</html>