<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Binary Health | Report Generation</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">

    <!--css-->
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!--js-->
    <script src="js/sizzle.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.buttons.min.js"></script>
    <script src="js/buttons.flash.min.js"></script>
    <script src="js/pdfmake.min.js"></script>
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="images/binarylogo.png" style="height: 40px;"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav pull-right">
                            <?php if (empty($username)) {?>
                                <li class=""><a href="#"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
                            <?php }?>
                            <?php if (!empty($username)) {?>
                                <li class=""><a> Welcome <?=strtoupper($username) . '!';?></a></li>
                                <li class=""><a href="/"><span class="glyphicon glyphicon-info-sign"></span> Dashboard</a></li>
                                <li class=""><a href="/logout"><span class="glyphicon glyphicon-info-sign"></span> Logout</a></li>
                                <li class=""><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Account Settings</a></li>
                            <?php }?>
                        </ul>
                    </div>
                </div>
                <br/>
            </nav>
        </div>
    </div>
    <br/><br/><br/><br/><br/>
    <div class="container">
        <?php include $viewTemplate;?>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>